/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
  height: 100vh; /* Garante que o body ocupe toda a altura da tela */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  margin-top: -14%;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column; /* Alinha os elementos na coluna */
  justify-content: center; /* Centraliza os itens dentro da container */
  align-items: center; /* Garante que o conteúdo dentro da container esteja centralizado */
  width: 100%; /* Garante que a largura da container seja de 100% */
  max-width: 1200px; /* Limita a largura máxima */
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 200px); /* Ajusta para 4 cartões lado a lado com 150px cada */
  gap: 20px; /* Adiciona espaço entre os cartões */
  justify-content: center; /* Centraliza os cartões */
  margin: 0 auto; /* Garante que a grid esteja centralizada */
}

.video-card {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 160px; /* Ajuste a largura aqui */
}

.video-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.addon-icon {
  width: 100px;
  height: 100px;
}

.popup {
  display: none; /* O pop-up está invisível ao carregar a página */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex; /* Flexbox para centralizar */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  width: 80%;
  max-width: 700px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr); /* Reduz para 2 cartões por linha */
    gap: 15px;
  }

  .video-card {
    width: 140px; /* Ajusta a largura dos cartões no mobile */
  }
}

@media (max-width: 480px) {
  .video-grid {
    grid-template-columns: 1fr; /* 1 cartão por linha em telas menores */
  }

  .video-card {
    width: 100%; /* Os cartões ocupam toda a largura disponível no mobile */
  }
}
